<div ng-controller="ownProductCtrl">
	<div class="row clearfix lign">
		<div class="col-xs-11 column borderGreyWhite lign">
		<center><div class="titleSignUp">Information</div></center><br>

			<div class="row clearfix marginSignUp lign">
				<div class="col-md-2 col-xs-4 column">
					<div class="form-group">
						<label for="to_edit" class="title2small">Product name*</label>
					</div>
				</div>
				<div class="col-md-10 col-xs-8 column">
					<div class="form-group">
						<input type="text" class="form-control" ng-model="product.name" placeholder="Name of your product" name="nameProduct" maxlength="50" required title="This field is required" x-moz-errormessage="This field is required"/>
					</div>
				</div>
			</div>

			<div class="row clearfix marginSignUp lign">
				<div class="col-md-2 col-xs-4 column">
					<label for="to_edit" class="title2small">Category*</label>
				</div>
				<div class="col-md-4 col-xs-8 column">
					<div class="form-group">
						<select name="repeatSelect" ng-model="product.idcategory" required>
							<option lab value="">Choose a category</option><br>
							<option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
						</select>
					</div>
				</div>
				
				<div class="col-md-2 col-xs-4 column">
					<label for="to_edit" class="title2small">Brand*</label>
				</div>
				<div class="col-md-4 col-xs-8 column">
					<div class="form-group">
						<select name="repeatSelect" ng-model="product.idbrand" required>
							<option lab value="">Choose a brand</option><br>
							<option ng-repeat="brand in brands" value="{{brand.id}}">{{brand.name}}</option>
						</select>
					</div>
				</div>
			</div>
			
			<div class="row clearfix marginSignUp lign">
				<div class="col-md-2 col-xs-4 column">
					<label for="to_edit" class="title2small">Price (€)*</label>
				</div>
				<div class="col-md-2 col-xs-8 column">
					<div class="form-group">
						<input type="number" class="form-control" ng-model="product.price" placeholder="Price" name="priceProduct" maxlength="50" required title="This field is required" x-moz-errormessage="This field is required"/>
					</div>
				</div>
				
				<div class="col-md-2 col-xs-4 column">
					<label for="to_edit" class="title2small">Quantity available*</label>
				</div>
				<div class="col-md-2 col-xs-8 column">
					<div class="form-group">
						<input type="number" class="form-control" ng-model="product.quantityavailable" placeholder="Quantity" name="quantityProduct" maxlength="50" required title="This field is required" x-moz-errormessage="This field is required"/>
					</div>
				</div>
				
				<div class="col-md-2 col-xs-4 column">
					<label for="to_edit" class="title2small">Member reduc (%)</label>
				</div>
				<div class="col-md-2 col-xs-8 column">
					<div class="form-group">
						<input type="number" class="form-control" ng-model="product.memberreduction" placeholder="Reduction" name="memberProduct" maxlength="50"/>
					</div>
				</div>
				

			</div>

			<div class="row clearfix marginSignUp lign">
				<div class="col-md-2 col-xs-4 column">
					<div class="form-group">
						<label for="to_edit" class="title2small">Product image (url)</label>
					</div>
				</div>
				<div class="col-md-10 col-xs-8 column">
					<div class="form-group">
						<input type="text" class="form-control" ng-model="product.urlimage" placeholder="Image of your product" name="nameProduct" maxlength="50" required title="This field is required" x-moz-errormessage="This field is required"/>
					</div>
				</div>
			</div>
		</div>


	</div>

	<center><INPUT class="btn btn-primary buttonGreen logo2" ng-click="validate()" name="valide" value="Save"></center>
<br>
</div>