

<div class="etip" ng-controller="SignUpController">

	<div class="row clearfix lign">
		<div class="col-xs-10 column"><center>
			<span class="title1">Sign Up</h3></span></center>
		</div> 										
	</div>
	<form ng-submit="addUser()"> <!-- ACTION -->
	<div class="row clearfix lign">
	
		<!-- personal info -->
		<div class="col-xs-5 column borderGreyWhite lign">
		<center><div class="titleSignUp">Personal information</div></center>
		
			<!-- name -->
			<div class="rowclearfix marginSignUp">
				<div class="col-xs-6 column">
					<div class="form-group">
						<label f class="title2small" ng-model="user.lastname">Last name*</label>
						<input type="text" class="form-control" placeholder="Last name" name="last name" maxlength="30" required title="This field is required" x-moz-errormessage="This field is required"/>
					</div>
				</div>
				<div class="col-xs-6 column">
					<div class="form-group">
						<label  class="title2small">First name*</label>
						<input type="text" class="form-control" ng-model="user.firstname" placeholder="First name" name="first name" maxlength="30" required title="This field is required" x-moz-errormessage="This field is required"/>
					</div>
				</div>
			</div>
			
			<!-- username -->
			<div class="rowclearfix">
				<div class="form-group">
					<label  class="title2small">Username*</label>
					<input type="text" class="form-control" ng-model="user.login" placeholder="Username" name="username" maxlength="30" required title="This field is required" x-moz-errormessage="This field is required"/>
				</div>
			</div>
			
			<!--  password -->
			<div class="rowclearfix marginSignUp">
				<div class="col-xs-6 column">
					<div class="form-group">
						<label  class="title2small">Password*</label>
						<input type="password" class="form-control" ng-model="user.pwd" placeholder="Password" name="pwd1" id="pwd1" required title="This field is required" x-moz-errormessage="This field is required"/>
					</div>
				</div>
				<div class="col-xs-6 column">
					<div class="form-group">
						<label  class="title2small">Confirm password*</label>
						<input type="password" class="form-control" ng-model="user.pwd2" placeholder="Password" name="pwd2" id="pwd2" required title="This field is required" x-moz-errormessage="This field is required"/>
					</div>
				</div>
			</div>
			
			<!-- email -->
			<div class="rowclearfix">
				<div class="form-group">
					<label  class="title2small">Email address*</label>
					<input type="email" class="form-control" ng-model="user.mailadress" placeholder="Email address" name="mail"  maxlength="50" required title="This field is required" x-moz-errormessage="This field is required"/>
				</div>
			</div>
		
		</div>
		
		<!-- address-->
		<div class="col-xs-5 column borderGreyWhite lign">
		<center><div class="titleSignUp">Location</div></center>
		
			<div class="rowclearfix">
				<div class="form-group">
					<label  class="title2small">Number</label>
					<input type="text" class="form-control" ng-model="user.number" placeholder="Number" name="number" maxlength="11" >
				</div>
			</div>
			
			<div class="rowclearfix">
				<div class="form-group">
					<label  class="title2small">Street</label>
					<input type="text" class="form-control" ng-model="user.name" placeholder="Street" name="street" maxlength="50" >
				</div>
			</div>
			
			<div class="rowclearfix ">
				<div class="form-group">
					<label for="to_edit" class="title2small">Post Code</label>
					<input type="text" class="form-control" ng-model="user.postalcode" placeholder="Post Code" maxlength="5" min="0" name="pc" >
				</div>
			</div>
			
			<div class="rowclearfix">
				<div class="form-group">
					<label class="title2small">City</label>
					<input type="text" class="form-control" ng-model="user.town" placeholder="City" name="city"  maxlength="50">
				</div>
			</div>
		</div>
	</div>
		
	<p class="textItalic">* Fields required</p>
	<p>{{errorMessage}}</p>
	
	<div class="row clearfix">
		<!-- button -->
		<div class="wrap">
		<center><INPUT class="btn btn-primary buttonGreen logo2" TYPE="submit" name="valide" value="Sign Up"></center>
		</div>
	</div>
		
</div>
</form>
	
	<div class="row clearfix lign textAlign">
		<p> Or sign up with </p>
	</div>
		
	<div class="row clearfix lign">
		<center> <a href="#"><img src="Includes/images/facebook.png" class="logo2"></a> <center>
	</div>
	
</div>
 
 <!-- Verifier mdp !!!!!!!!!! -->
 
</div>
 </body>
</html>