<div class="row clearfix">
    <center><div class="col-xs-5 column" style="border: solid #DADADA 1px; height:200px;-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; margin-right:3%; margin-left:4%; margin-bottom:10px;">
        <h3 style="margin-top:35px;">?????</h3>
        <p style="text-align:justify; ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. Morbi commodo sodales nisi id sodales</p>
    </div></center>


    <center><div class="col-xs-5 column" style="border: solid #DADADA 1px; height:200px; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; margin-right:3%; margin-left:4%; margin-bottom10px;">
        <h3 style="margin-top:60px;">New user?<br></h3>
        <div class="wrap"><a class="btn btn-primary in" href="#/signUp" style="background-color:#006515; border-color:#006515" role="button">Sign Up</a></div>
    </div></center>
</div>
