<div ng-controller="EventsController">
	<p>
        events : {{events}}</br>
        speakers : {{speakers}}</br></br>
        activities : {{activities}}</br></br>
        rooms : {{rooms}}</br>
        registration : {{registration}}</br>

        periods : {{periods}}</br>

    <div class="row clearfix textAlign lign">
        <div class="col-xs-3">
			Search:  
			<input type="text"  ng-model="recherche">
		</div>

        <div class="col-xs-3">
			Sort by activity:  
			<select name="repeatSelect" id="repeatSelect" ng-model="selectedAct">
                <option ng-repeat="option in activities" value="{{option.id}}">{{option.name}}</option>
                <option lab value="" selected="selected">All</option>
            </select>
		</div>
		
		<div class="col-xs-6"></div>
    </div>

    <table class="table table-striped">

            <tr>
                <th width="10%" class="title2">Name</th>
                <th width="10%" class="title2">Price (€)</th>
                <th width="11%" class="title2">Repetitive</th>
                <th width="13%" class="title2">Start date</th>
                <th width="13%" class="title2">End date</th>
                <th width="10%" class="title2">Activity</th>
                <th width="10%" class="title2">Speaker</th>
                <th width="13%" class="title2">Room</th>
                <th width="10%" class="title2">State</th>
            </tr>

            <tr ng-repeat="event in events" ng-show="isSearched($index)">
                <th><a href={{"#/events/"+event.id}}>{{event.name}}</a></th>
                <th>{{event.price}}</th>
                <th>{{event.eventRepetitive}}</th>
                <th>{{event.start}}</th>
				<th>{{event.end}}</th>
                <th>{{event.eventActName}}</th>
                <th>{{event.eventSpeakerName}}</th>
                <th>{{event.eventRoomName}}</th>
                <th><button ng-click="register(event)">Register</button></th>

            </tr>
        </table>
	</p>
	
	<p class="textItalic"> Click on an event's name to see the details and to register. </p>
</div>
