<div ng-controller="SearchController">
	<p>
		<form>
			<input type = "text" value="" ng-model="id"></input>
			<button type="submit">Search by id</button>
		</form>
	</p>
	<p>
		<form>
			<input type = "text" value="" ng-model="name"></input>
			<button type="submit">Search by login</button>
		</form>
	</p>
	<p>
		<div class="titre2small" ng-show="users">Result :</h2>
		<div ng-repeat="n in users">
			<h4 ng-show="isSearched(n)"><a href="#/users/{{n.id}}/profile">{{n.firstname}}</a></h4>
		</div>
		</div>
	</p>
</div>
