<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>Maitre Yoga</title>
  <link rel="stylesheet" href="../includes/CSS/style.css"/>
	<link rel="stylesheet" href="../includes/CSS/Bootstrap_CSS/bootstrap.css">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    
  </head>
<body class="body">
<div class="container">

<div class="row clearfix lign">                                
  <div class="dropdown">
    <button class="dropdown-toggle" type="button" data-toggle="dropdown">Choose a category
		<span class="caret"></span>
	</button>
    <ul class="dropdown-menu">
      <li><a href="#">#</a></li>
      <li><a href="#">#</a></li>
      <li><a href="#">#</a></li>
    </ul>
</div>
<br>

<!-- products table -->
<span class="title1bis lign">Your products</span>
<div class="row clearfix">
	
<table class="table table-striped" height="20">
        <thead>
            <tr>
                <th width="10%">Quantity available</th>
                <th width="15%">Name</th>
				<th width="15%">Brand</th>
				<th width="15%">Category</th>
                <th width="10%">Price (€)</th>
            </tr>
        </thead>
        <tbody>
            <!-- a completer !!!!-->
			<tr>
                <td>4</td>
                <td>Tapis de sol</td>
                <td>Nike</td>
                <td>Tapis</td>
				<td>20</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Ballon de GRS</td>
                <td>Nike</td>
                <td>Ballons</td>
				<td>10</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Tapis de mur</td>
                <td>Adidas</td>
                <td>Tapis</td>
				<td>25</td>
            </tr>
			
			
        </tbody>
    </table>
	
	
</div>

<div class="row clearfix">
<BootstrapTable data={products}>
  <TableHeaderColumn dataField="id" isKey={true} width="15%">Product ID</TableHeaderColumn>
  <TableHeaderColumn dataField="name" width="150px">Product Name</TableHeaderColumn>
  <TableHeaderColumn dataField="price">Product Price</TableHeaderColumn>
</BootstrapTable>
</div>
<!-- end list products -->

<!-- button -->
<div class="row clearfix">
	<div class=" col-xs-4 column">
		<div class="wrap">
		<center><INPUT class="btn btn-primary buttonGreen logo2" TYPE="submit" name="valide" value="Create"></center>
		</div>
	</div>
	
	<div class=" col-xs-4 column">
		<div class="wrap">
		<center><INPUT class="btn btn-primary buttonGreen logo2" TYPE="submit" name="valide" value="Delete"></center>
		</div>
	</div>
	
	<div class=" col-xs-4 column">
		<div class="wrap">
		<center><INPUT class="btn btn-primary buttonGreen logo2" TYPE="submit" name="valide" value="Update"></center>
		</div>
	</div>
</div>
	

</div>

</body>
</html>