
<!-- sign up -->
<div class="row clearfix textAlign" media = "screen and (max-width:768px)">
	<div class=" col-xs-12 col-md-6 column">
		<h3>Presentation</h3>
			<p class=textAlign>Welcome to ZenLounge! <br> Your motivation and goals + ZenLounge = Life Changing Results. <br>Improve cardiovascular fitness and endurance, tone and strengthen muscles. Or buy our products.</p>
	</div>
	<br><br>
	<div class=" col-xs-12 col-md-6 column">
		<h3>New user?<br></h3>
		<div class="wrap"><a class="btn btn-primary buttonGreen" href="#/signUp" role="button">Sign Up</a></div>
	</div>
</div>



 




