<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>Maitre Yoga</title>
  <link rel="stylesheet" href="../includes/CSS/style.css"/>
	<link rel="stylesheet" href="../includes/CSS/Bootstrap_CSS/bootstrap.css">
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    
  </head>
<body class="body">
<div class="container">

<!-- cookies -->
<center><div class="row clearfix cookies textAlign">
	<div class="col-xs-12 column"> 
		<p> Cookies help us to provide, protect and improve our services. By continuing to use our site, you agree to Maitre Yoga's cookie policy.  <a href="http://www.cnil.fr/vos-droits/vos-traces/les-cookies/" target="blank";>Know more.</a></p>
	</div>
</div></center>

<div class="etip">

	<div class="row clearfix lign">
		<div class="col-xs-2 column">
			<a href="home.html"><img src="../includes/images/logo.png" class="logo"></a>
		</div>
		
		<div class="col-xs-10 column"><center>
			<span class="title1">Sign Up</h3></center>
		</div> 										
	</div>

	<form method="post" action="#"> <!-- ACTION -->
	<div class="row clearfix lign">
	
		<!-- personal info -->
		<div class="col-xs-5 column borderGreyWhite lign">
		<center><div class="titleSignUp">Personal information</div></center>
		
			<!-- name -->
			<div class="rowclearfix marginSignUp">
				<div class="col-xs-6 column">
					<div class="form-group">
						<label for="to_edit" class="title2small">Last name*</label>
						<input type="text" class="form-control" placeholder="Last name" name="last name" maxlength="30" required title="This field is required" x-moz-errormessage="This field is required"/>
					</div>
				</div>
				<div class="col-xs-6 column">
					<div class="form-group">
						<label for="to_edit" class="title2small">First name*</label>
						<input type="text" class="form-control" placeholder="First name" name="first name" maxlength="30" required title="This field is required" x-moz-errormessage="This field is required"/>
					</div>
				</div>
			</div>
			
			<!-- username -->
			<div class="rowclearfix">
				<div class="form-group">
					<label for="to_edit" class="title2small">Username*</label>
					<input type="text" class="form-control" placeholder="Username" name="username" maxlength="30" required title="This field is required" x-moz-errormessage="This field is required"/>
				</div>
			</div>
			
			<!--  password -->
			<div class="rowclearfix marginSignUp">
				<div class="col-xs-6 column">
					<div class="form-group">
						<label for="to_edit" class="title2small">Password*</label>
						<input type="password" class="form-control" placeholder="Password" name="pwd1" id="pwd1" required title="This field is required" x-moz-errormessage="This field is required"/>
					</div>
				</div>
				<div class="col-xs-6 column">
					<div class="form-group">
						<label for="to_edit" class="title2small">Confirm password*</label>
						<input type="password" class="form-control" placeholder="Password" name="pwd2" id="pwd2" required title="This field is required" x-moz-errormessage="This field is required"/>
					</div>
				</div>
			</div>
			
			<!-- email -->
			<div class="rowclearfix">
				<div class="form-group">
					<label for="to_edit" class="title2small">Email address*</label>
					<input type="email" class="form-control" placeholder="Email address" name="mail"  maxlength="50" required title="This field is required" x-moz-errormessage="This field is required"/>
				</div>
			</div>
		
		</div>
		
		<!-- address-->
		<div class="col-xs-5 column borderGreyWhite lign">
		<center><div class="titleSignUp">Location</div></center>
		
			<div class="rowclearfix">
				<div class="form-group">
					<label for="to_edit" class="title2small">Number</label>
					<input type="text" class="form-control" placeholder="Number" name="number" maxlength="11" >
				</div>
			</div>
			
			<div class="rowclearfix">
				<div class="form-group">
					<label for="to_edit" class="title2small">Street</label>
					<input type="text" class="form-control" placeholder="Street" name="street" maxlength="50" >
				</div>
			</div>
			
			<div class="rowclearfix ">
				<div class="form-group">
					<label for="to_edit" class="title2small">Post Code</label>
					<input type="password" class="form-control" placeholder="Post Code" maxlength="5" min="0" name="pc" >
				</div>
			</div>
			
			<div class="rowclearfix">
				<div class="form-group">
					<label for="to_edit" class="title2small">City</label>
					<input type="email" class="form-control" placeholder="City" name="city"  maxlength="50">
				</div>
			</div>
		</div>
	</div>
		
	<p class="textItalic">* Files required</p>
	
	<div class="row clearfix">
		<!-- button -->
		<div class="wrap">
		<center><INPUT class="btn btn-primary buttonGreen logo2" TYPE="submit" name="valide" value="Sign Up"></center>
		</div>
	</div>
		
</div>
</form>
	
	<div class="row clearfix lign textAlign">
		<p> Or sign up with </p>
	</div>
		
	<div class="row clearfix lign">
		<center> <a href="#"><img src="../includes/images/facebook.png" class="logo2"></a> <center>
	</div>
	
</div>
 
 <!-- Verifier mdp !!!!!!!!!! -->
 
</div>
 </body>
</html>