<div ng-controller="PaymentController">

<center><div class="row clearfix title1bis lign">Payment information</div></center>
		
		<div class="row clearfix lign">
	
			<div class="col-md-3"></div>
			
			<div class="col-md-5 col-xs-11 column borderGreyWhite lign">
				<center><div class="titleSignUp lign">Information</div></center> 
				<br>
				<center><div class="row clearfix">
					<div class="col-xs-12 column">
						<div class="form-group">
							<label >Annual fee:</label>
							120 €
						</div>
					</div>
				</div><center>
				
				<center><div class="row clearfix">
					<div class="col-xs-6 column">
						<div class="form-group">
							<label >You have paid</label>
							{{amountPaid}} €
						</div>
					</div>
					<div class="col-xs-6 column">
						<div class="form-group">
							<label >On:</label>
							???
					  </div>
					</div>
				</div><center>
				
				<center><div class="row clearfix">
					<div class="col-xs-12 column">
						<div class="form-group">
							<label >You have to pay:</label>
							{{120 - amountPaid}} €
						</div>
					</div>
				</div><center>

			</div>
			
			<div class="col-md-3"></div>
		
		</div>

<!-- button -->
<div class="row clearfix ng-show="showPayButton()"">
	<div class="wrap">
		<center><INPUT class="btn btn-primary buttonGreen logo2" TYPE="submit" name="valide" value="Pay my fee"></center>
	</div>
</div>


</div>