<div ng-controller="AccessoriesController">
 
    <p>
    <div class="row clearfix textAlign lign">
        <div class="col-xs-3"><center><label>Find an accessory</label> <input type="text"  ng-model="recherche"></center></div>

    
        <div class="col-xs-3"></div>

    </div>


    <table class="table table-striped">

            <tr>
                <th width="20%">Description</th>
       
              
            </tr>

            <tr ng-repeat="accessory in accessories" ng-show="isSearched($index)">
                <th>{{accessory.description}}</th>
               
            </tr>
        </table>
    </p>

<div class="row clearfix">
    <div class="wrap">
    <center><button onclick=""></button></center>
        <center><a href="#/createAccessories"><INPUT class="btn btn-primary buttonGreen logo2" TYPE="submit" name="valide"  value="Add One"></center>
    </div>
</div


</div>
