<div ng-controller="NavbarController" media="screen and (min-width:768px)">
    <center>
		<div class="cookies" class="row clearfix" ng-show="cookiesInfos">
			<div class="col-xs-12 column">
				<p>Cookies help us to provide, protect and improve our services. By continuing to use our site, you agree to Maitre Yoga's cookie policy. <a href="http://www.cnil.fr/vos-droits/vos-traces/les-cookies/" target="blank";>Know more</a> - <a ng-click="hideCookiesInfos()">Close</a></p>
			</div>
		</div>
	</center>

	
    <!-- header -->
    <div class="row clearfix ">

        <!-- logo -->
        <div class="col-md-6 col-xs-2 column">
			<a href="#/"><img src="Includes/images/logo.png" class="logo"></a>
        </div>
		
		<login></login>
	</div>
	
	<nav class="navbar navbar-default" role="navigation" media="(min-width: 768px) and (max-width: 980px)">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/">ZenLounge</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav">
				
				<li><a href="#/">Home </a></li>

				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">My account <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li style="cursor:pointer; "><a href="#/profile">Information</a></li>
						<li style="cursor:pointer; "><a href="#/payment">Payment</a></li>
						<li style="cursor:pointer; "><a href="#/notifications">Notifications</a></li>
						<li style="cursor:pointer; "><a href="#/planningUser">Planning</a></li>
					</ul>
				</li>
				
				<li class="dropdown" >
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li style="cursor:pointer; "><a href="#/users">See all users</a></li>
						<li style="cursor:pointer; "><a href="#/users/search">Find a user</a></li>
					</ul>
				</li>
				
				<li class="dropdown" >
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li style="cursor:pointer; "><a href="#/products">Find a product</a></li>
						<li style="cursor:pointer; "><a href="#/manageProducts">Manage products</a></li>
                        <li style="cursor:pointer; "><a href="#/brands">Manage brands</a></li>
                        <li style="cursor:pointer; "><a href="#/categories">Manage product categories</a></li>

					</ul>
				</li>

				<li class="dropdown" >
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li style="cursor:pointer; "><a href="#/createEvent">Create an event</a></li>
						<li style="cursor:pointer; "><a href="#/events">Find an event/register</a></li>
						<li style="cursor:pointer; "><a href="#/rooms">Manage event/room</a></li>
						<li style="cursor:pointer; "><a href="#">Consult planning</a></li>
					</ul>
				</li>
				
				<li class="dropdown" >
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Activities<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li style="cursor:pointer; "><a href="#/manageActivities">Manage activities</a></li>
						<li style="cursor:pointer; "><a href="#/activitycategories">Manage activity categories</a></li>
					</ul>
				</li>

				<li class="dropdown" ng-show="loggedUser.connectiontoken">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin area <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li style="cursor:pointer; "><a href="#">Manage categories</a></li>
						<li style="cursor:pointer; "><a href="#/users">Manage users</a></li>
					</ul>
				</li>
				
				
			</ul>
			</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
	</nav>

        <!--menu-->
        <!--<div class="row clearfix" >

            <div class="etip">
                <div id="newElement6" class="row clearfix">
                    <div class="col-xs-12 column etip"><div class="bs-example bs-navbar-top-example drop etip">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <a class="navbar-brand">ZenLounge</a>
                                </div>

                                
                                <div class="collapse navbar-collapse">
                                    <ul class="nav navbar-nav">
                                        <li><a href="#/">Home </a></li>

                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" >My account <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li style="cursor:pointer; "><a href="/#/profile">Information</a></li>
                                                <li style="cursor:pointer; "><a href="#">Payment</a></li>
                                                <li style="cursor:pointer; "><a href="#/notifications">Notifications</a></li>
                                                <li style="cursor:pointer; "><a href="#">Planning</a></li>
                                            </ul>
                                        </li>

                                        <li class="dropdown" >
                                            <a class="dropdown-toggle" data-toggle="dropdown" >Shop <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li style="cursor:pointer; "><a href="#/products">Find a product</a></li>
                                                <li style="cursor:pointer; "><a href="#/manageProducts">Manage products</a></li>
                                            </ul>
                                        </li>

                                        <li class="dropdown" >
                                            <a class="dropdown-toggle" data-toggle="dropdown" >Events <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li style="cursor:pointer; "><a href="#/createEvent">Create an event</a></li>
                                                <li style="cursor:pointer; "><a href="#/events">Find an event/register</a></li>
                                                <li style="cursor:pointer; "><a href="#/rooms">Manage event/room</a></li>
                                                <li style="cursor:pointer; "><a href="#">Consult planning</a></li>
                                            </ul>
                                        </li>
										
										<li class="dropdown" >
											<a class="dropdown-toggle" data-toggle="dropdown" >Activities<b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li style="cursor:pointer; "><a href="#/manageActivities">Manage activities</a></li>
                                                <li style="cursor:pointer; "><a href="#/activitycategories">Manage activity categories</a></li>
                                            </ul>
                                        </li>

                                        <li class="dropdown" ng-show="loggedUser.connectiontoken">
                                            <a class="dropdown-toggle" data-toggle="dropdown" >Admin area <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li style="cursor:pointer; "><a href="#">Manage categories</a></li>
                                                <li style="cursor:pointer; "><a href="#/users">Manage users</a></li>
                                            </ul>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div></div>
                </div>
            </div> -->
            <!-- end menu -->

        </div>
        </div>
    </div>
        <!-- end header -->