<div ng-controller="TestController">
    <center>
		<div class="cookies" class="row clearfix">
			<div class="col-xs-12 column">
				<p> Cookies help us to provide, protect and improve our services. By continuing to use our site, you agree to Maitre Yoga's cookie policy.  <a href="http://www.cnil.fr/vos-droits/vos-traces/les-cookies/" target="blank";>Know more.</a></p>
			</div>
		</div>
	</center>

    <!-- header -->
    <div class="row clearfix lign">

        <!-- logo -->
        <div class="col-xs-6 column">
			<a href="#/"><img src="Includes/images/logo.png" class="logo"></a>
        </div>
		
		<login></login>

        <!--menu-->
        <div class="row clearfix lign">

            <div class="etip">
                <div id="newElement6" class="row clearfix">
                    <div class="col-xs-12 column etip"><div class="bs-example bs-navbar-top-example drop etip">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <a class="navbar-brand">ZenLounge</a>
                                </div>

                                <!-- tabs -->
                                <div class="collapse navbar-collapse">
                                    <ul class="nav navbar-nav">
                                        <li><a href="#/">Home </a></li>

                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >My account <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li style="cursor:pointer; "><a href="/#/profile">Information</a></li>
                                                <li style="cursor:pointer; "><a href="#">Payment</a></li>
                                                <li style="cursor:pointer; "><a href="#">Notifications</a></li>
                                                <li style="cursor:pointer; "><a href="#">Planning</a></li>
                                            </ul>
                                        </li>

                                        <li class="dropdown" >
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Shop <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li style="cursor:pointer; "><a href="../shop/products.html">Find a product</a></li>
                                                <li style="cursor:pointer; "><a href="../shop/manageProducts.html">Manage products</a></li>
                                            </ul>
                                        </li>

                                        <li class="dropdown" >
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Events <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li style="cursor:pointer; "><a href="#">Create an event</a></li>
                                                <li style="cursor:pointer; "><a href="#">Find an event/activity</a></li>
                                                <li style="cursor:pointer; "><a href="#">Manage event/room</a></li>
                                                <li style="cursor:pointer; "><a href="#">Consult planning</a></li>
                                            </ul>
                                        </li>
										
										<li class="dropdown" >
											<a class="dropdown-toggle" data-toggle="dropdown" >Activities<b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li style="cursor:pointer; "><a href="#">Manage activities</a></li>
                                                <li style="cursor:pointer; "><a href="#/activitycategories">Manage activity categories</a></li>
                                            </ul>
                                        </li>

                                        <li class="dropdown" ng-show="$root.user.connectiontoken">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Admin area <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li style="cursor:pointer; "><a href="#">Manage categories</a></li>
                                                <li style="cursor:pointer; "><a href="#/users">Manage users</a></li>
                                            </ul>
                                        </li>

                                    </ul>
                                </div>
                                <!-- end tabs -->
                            </div>
                        </nav>
                    </div></div>
                </div>
            </div>
            <!-- end menu -->

        </div>
        </div>
    </div>
        <!-- end header -->